{% extends "base.html" %}

{% block links %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/apropos.css') }}">
{% endblock %}

{% block content %}
<div class="container py-5 text-dark mt-5">
    <div class="w-100 container-fluid img-area p-0 m-0">
        <img src="{{ url_for('static', filename='img/image (8).jpg') }}" alt="Image">
    </div>
    <div class="w-100 first-apropos m-0 p-0">
        <h1 class="mb-4 text-center">À Propos de MetaCollect</h1>
    </div>

    <h2 class="mt-4">Notre Mission</h2>
    <p>
        Le projet Meta Collecte vise à rassembler et analyser des données de manière éthique 
        et responsable. Nous croyons que des données de qualité peuvent transformer des idées 
        en actions concrètes pour le bien commun.
    </p>
    
    <h2 class="mt-4">Nos Objectifs</h2>
    <ul>
        <li>Collecter des données pertinentes et précises.</li>
        <li>Assurer la transparence et la sécurité des données.</li>
        <li>Fournir des analyses exploitables pour des décisions éclairées.</li>
    </ul>
    
    <h2 class="mt-4 mb-3 text-center">Notre Équipe</h2>
    <div class="row justify-content-center">
        <div class="col-12 col-sm-6 col-md-4 mb-4">
            <div class="card h-100 text-center shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">Jean Remit</h3>
                    <p class="card-text">Directeur de Projets</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-4">
            <div class="card h-100 text-center shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">Marie Curie</h3>
                    <p class="card-text">Analyste de Données</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 mb-4">
            <div class="card h-100 text-center shadow-sm">
                <div class="card-body">
                    <h3 class="card-title">Pierre Martin</h3>
                    <p class="card-text">Responsable Éthique</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
        $(window).scroll(function(){
            var scroll = $(window).scrollTop();
            $(".img-area img").css({
                width: (100 + scroll / 5) + "%"
            });
        });
</script>
{% endblock %}
