{% extends "base.html" %}

{% block content %}
    <div class="shine">
        <div class="s shine1"></div>
        <div class="s shine2"></div>
    </div>
    <div class="all">
        <div class="part1">
            <h1>ENTRER EN<span class="word"> CONTACT</span></h1>
            <div class="part1a">
                <div class="card6">
                    <h2>N’AYEZ PAS PEUR !</h2>
                    <h6><small>N’hésitez pas à me contacter. Je suis toujours<br/> 
                        ouvert à discuter de nouveaux projets, d’idées créatives<br/>
                        ou d’opportunités pour faire partie de vos visions.</small>
                    </h6>
                    <div class="j joing1">
                        <div class="connexion">
                            <div class="i icons5"></div>
                            <p class="word19">ÉCRIVEZ-MOI</p>
                            <p><span class="word18"><strong>manjaka@gmail.com</strong></span></p>
                        </div>
                    </div>
                    <div class="j joing2">
                        <div class="connexion">
                            <div class="i icons6"></div>
                            <p class="word19">APPELEZ-MOI</p>
                            <p><span class="word18"><strong>+261 34 26 857 55</strong></span></p>
                        </div>
                    </div>
                    <div class="j joing3">
                        <a href="../html/Chargement.html"><div class="i icons1"></div></a>
                        <a href="../html/Chargement.html"><div class="i icons2"></div></a>
                        <a href="../html/Chargement.html"><div class="i icons3"></div></a>
                        <a href="../html/Chargement.html"><div class="i icons4"></div></a>
                    </div>
                </div>
                <div class="card7">
                    <div class="writte1">
                        <form method="post" action="traitement.php">
                            <input type="text" name="nom" placeholder="VOTRE NOM" required="required"/>
                            <input type="email" name="email" placeholder="VOTRE EMAIL" required="required"/>
                            <input type="text" name="sujet" placeholder="VOTRE SUJET" required="required"/>
                        </form>
                    </div>
                    <div class="writte2">
                    <form method="post" action="traitement.php">
                        <textarea spellcheck="default" placeholder="VOTRE MESSAGE" name="commentaire" required="required"></textarea>
                        <a href="../html/Poursuivant.html">
                            <button disabled class="touch">
                                <div class="dark1"></div>
                                <p class="error1">ENVOYER LE MESSAGE</p>
                                <div class="t trafficator">
                                    <img src="../photo/send.png" />
                                </div>
                            </button>
                        </a>
                    </form>
                    </div>
                </div>
            </div>
            <div class="part2">
                <div class="menu">
                    <a href="../../designer.html">
                        <main class="card">
                            <button disabled class="t touch1">
                                <div class="fade dark2">ACCUEIL</div>
                            </button>
                        </main>
                    </a>
                    <a href="about.html">
                        <main class="card">
                            <button disabled class="t touch2">
                                <div class="fade dark3">À PROPOS</div>
                            </button>
                        </main> 
                    </a>
                    <a href="portfolio.html">
                        <main class="card">
                            <button disabled class="t touch3">
                                <div class="fade dark4">PORTFOLIO</div>
                            </button>
                        </main>
                    </a>
                        <main class="card">
                            <button disabled class="t touch4">
                                <div class="fade dark5">CONTACT</div>
                            </button>
                        </main>
                    <a href="blog.html">
                        <main class="card">
                            <button disabled class="t touch5">
                                <div class="fade dark6">BLOG</div>
                            </button>
                        </main>
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
